body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

header {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #eee;
    padding: 10px;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
}

section {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 200px;
    box-shadow: 10px 10px 20px 20px rgba(0,0,0,.5);
    color:#333;
    right: 0;
    bottom: 30px;
}

h1{
    text-align: center;
    color:black;
}
.noticia {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

#juegos img
{
    border-radius: 100%;
    width: 250px;
    height: 250px;
    animation: secs 5s infinite both;
    animation-iteration-count: infinite;
    animation-play-state: running;
    transition: 500ms;
    animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
@keyframes secs {
    0%
    {
        transform: rotateZ(0);
    }
    100%
    {
        transform: rotateZ(360deg);
    }
}

#juegos
{
    display: grid;
    place-items: center;
    grid-template-columns: repeat( 2 , 1fr );
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f2f5; /* Color de fondo similar al de Facebook */
}

header, nav, section, footer {
    background-color: #fff; /* Fondo blanco para las secciones */
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

#publicaciones {
    max-width: 600px;
    margin: 0 auto;
}

.publicacion {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ddd; /* Borde ligero */
    border-radius: 4px;
    display: flex;
}

.publicacion div > p{
    margin-top: 0;
}

.noticia{
    display: flex;
}

.noticia div > img{
    max-width: 60%;
    border-radius: 8px;
    margin: 0 auto;
    display: block;
}

.noticia div {
    width: 50%;
}


.redes-sociales {
    display: flex;
}

.social-icon {
    margin-right: 10px;
    color: blue;
    text-decoration: none;
    font-size: 20px;
}

.social-icon:hover {
    color: #007bff; /* Cambiar color al pasar el ratón */
}

element.style {
    width: 40px;
    height: 40px;
    font-size: 2rem;
    color: red;
}

header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tamaño-img{
    max-width: 50%;
    border-radius: 8px;
    margin: 0 auto;
    display: block;
}

.centro{
    text-align: center;
}

.tamaño-img-comentarios{
    max-width: 50%;
    border-radius: 70px;
    margin: 0 auto;
    display: block;
}